### Prepare & Parsing text/data:
After acquiring the data with NLP/web scraping methods, we need to parse the data into small bits.

In [1]:
#need to import nltk (natural language tool kit) to help with parsing:
import nltk; nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/jeneyring/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

Steps to parsing data:
<br>
    1) Convert text to all lower case for normalcy.<br>
    2) Remove any accented characters, non-ASCII characters.<br>
    3) Remove special characters.<br>
    4) Stem or lemmatize the words.(stem = "if b, then c")<br>
    5) Remove stopwords.(if, and, the, etc)<br>
    6) Store the clean text and the original text for use in future notebooks.

#NOTE: if your corpus is large enough, its ok to really clean up/strip down your text to become natural language.

In [2]:
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd

import acquire

In [3]:
original = acquire.get_news_articles()

### Exercise 1)
Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

Lowercase everything
Normalize unicode characters
Replace anything that is not a letter, number, whitespace or a single quote.

In [6]:
#look at the df to consider what does need to be applied: 
#ie. I want to keep my titles upper case but my content can be lowercase
original.head()

,title,content,author,date,source,category
0,"You all call me fugitive, which court has ever...",Lalit Modi on Sunday took to Instagram to spea...,Ridham Gambhir,17 Jul,NaN,business
1,World's biggest NFT marketplace OpenSea fires ...,The world's first and biggest NFT marketplace ...,Ridham Gambhir,16 Jul,NaN,business
2,"BCCI had ₹40 cr in bank when I joined & ₹47,68...","In an Instagram post, Lalit Modi asserted that...",Ridham Gambhir,17 Jul,NaN,business
3,A fighter to the core: Mahindra praises PV Sin...,Businessman Anand Mahindra took to Twitter to ...,Ridham Gambhir,17 Jul,NaN,business
4,Twitter's sudden speed for trial after 2 month...,Tesla CEO Elon Musk has opposed Twitter's requ...,Ridham Gambhir,16 Jul,NaN,business

In [12]:
#applying lowercase to content
article_content = original['content'].str.lower()

In [13]:
article_content

0     lalit modi on sunday took to instagram to spea...
1     the world's first and biggest nft marketplace ...
2     in an instagram post, lalit modi asserted that...
3     businessman anand mahindra took to twitter to ...
4     tesla ceo elon musk has opposed twitter's requ...
                            ...
95    filmmaker rajiv rai said his 1994 film 'mohra'...
96    karan johar has confirmed the reports that 'ro...
97    actor ranbir kapoor, speaking about the though...
98    actor sanjay kapoor revealed he was mistaken f...
99    actor sanjay dutt has said that his upcoming f...
Name: content, Length: 100, dtype: object

In [19]:
type(article_content)

pandas.core.series.Series

In [21]:
#normalizing the content of articles:
article_content = unicodedata.normalize('NFKD', article_content).encode('ascii', 'ignore').decode('utf-8', 'ignore')

TypeError: normalize() argument 2 must be str, not Series