In [1]:
import pandas as pd
import re

### Exercise 1)
Write a function named `is_vowel`. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
#trying out creating string inputs for finding only vowels.
my_string = 'potatoe'
#only accepts vowels:
regexp = r'[aeiou]'
#findall and return only vowel using regexp conditions and my_string input
re.findall (regexp, my_string)

['o', 'a', 'o', 'e']

In [3]:
def is_vowel(my_string):
    regexp = r'[aeiou]'
    #to return a true/false statement, have the length of regexp see if greater than 0
    return len(re.findall(regexp, my_string)) > 0

In [4]:
is_vowel('potatoe'), is_vowel('rubber duck'), is_vowel('a'), is_vowel('d')

(True, True, True, False)

### Exercise 2)
Write a function named is_valid_username that accepts a string as input.
<br>A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. <br>It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
False
> is_valid_username('codeup')
True
> is_valid_username('Codeup')
False
> is_valid_username('codeup123')
True
> is_valid_username('1codeup')
False

In [9]:
#first, finding match if letter is lower case
username = 'cDeiHt'
#assing regex to start with and match the first lower case letter it comes to
regexp = r'^[a-z]'

re.search(regexp, username)

In [11]:
#now, seeing if this assigned regex can match lower case (but adding in upper to check) to longer names
#with symbols:
username = 'Totoro_Catbus141'
#regex assigned = ^starting at[any letters]+[any letters, numbers 0-9, and _ symbols],
#{range of username is 1-31}, $end
regexp = r'^[a-z]+[a-z0-9_]{1,31}$'

re.findall(regexp, username)
#### doesn't accept as there are uppercase letters here

[]

In [13]:
#trying the same above but with lowercase letters:
username = 'totoro_catbus141'
#regex assigned = ^starting at[any letters]+[any letters, numbers 0-9, and _ symbols],
#{range of username is 1-31}, $end
regexp = r'^[a-z]+[a-z0-9_]{1,31}$'

re.search(regexp, username)

In [14]:
#creating function with above:
def is_valid_username(username):
    regexp = r'^[a-z]+[a-z0-9_]{1,31}$'
    return len(re.findall(regexp, username)) > 0

In [17]:
print ("Is batman_car112 a valid username?", is_valid_username('batman_car112'))
print ("Is Codeup a valid username?", is_valid_username('Codeup'))

Is batman_car112 a valid username? True
Is Codeup a valid username? False

### Exercise 3)
Write a regular expression to capture phone numbers. It should match all of the following:

(210) 867 5309<br>
+1 210.867.5309<br>
867-5309<br>
210-867-5309<br>

In [21]:
phone_number = '210-867-5309'
#assigning regext to accept 0-9, ()+- symbols, and + all after 0 range:
regexp = r'[0-9()+-. ]+'
re.match(regexp, phone_number)

In [22]:
phone_number2 = '+1 210.867.5309'
re.match(regexp, phone_number2)

In [23]:
phone_number3 = '867-5309'
re.match(regexp, phone_number3)

In [24]:
phone_number4 = '210-867-5309'
re.match(regexp, phone_number4)

### Exercise 4)
Use regular expressions to convert the dates below to the standardized year-month-day format.
02/04/19<br>
02/05/19<br>
02/06/19<br>
02/07/19<br>
02/08/19<br>
02/09/19<br>
02/10/19

In [25]:
#creating a dataseries of all dates:
dates = pd.Series(['02/04/19','02/05/19','02/06/19','02/07/19','02/08/19','02/09/19','02/10/19'])
dates

0    02/04/19
1    02/05/19
2    02/06/19
3    02/07/19
4    02/08/19
5    02/09/19
6    02/10/19
dtype: object

In [48]:
#taking dates series: using str.replace to replace / with -:
                    #\d:any digit +:0-on,/:divider, 
                            #replaces to:20\3rd divider here, then -, \1st divider,
                                #-, \2nd divider
        
dates.str.replace(r'(\d+)/(\d+)/(\d+)', r'20\3-\1-\2', regex=True)

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

### Exercise 5)
Write a regex to extract the various parts of these logfile lines:
<br><br>GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] 
HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58<br><br>
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58<br><br>
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [30]:
logfile = pd.DataFrame(['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
                                'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
                                'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'
                               ])

In [31]:
#create a column called log for the logfile lines in the df:
logfile.columns = ['log']

In [32]:
logfile

                                                 log
0  GET /api/v1/sales?page=86 [16/Apr/2019:193452+...
1  POST /users_accounts/file-upload [16/Apr/2019:...
2  GET /api/v1/items?page=3 [16/Apr/2019:193453+0...

In [35]:
#first part of text
text = 'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58'
regexp = r'^([A-Z]{,4}[ ]/)'

re.findall(regexp, text)

['GET /']

In [46]:
#second part) and to first and grabbing api/v1:
regexp = r'^([A-Z]{,4}[ ]/)([a-z_]*/)([\w*]{,2}/?)'
re.findall(regexp, text)

[('GET /', 'api/', 'v1/')]

In [50]:
#adding in last part with alphanumeric and special characters:
regexp = r'^([A-Z]{,4}[ ]/)([a-z_]*/)([\w*]{,2}/)?([\w*]{,2}/)?([\w])'
re.findall(regexp, text)

[('GET /', 'api/', 'v1/', '')]

In [97]:
#another way:
match = re.search('(?P<method>[^ ]*) (?P<path>[^ ]*) (?P<date_time>[^ ])*', text)
match