In [1]:
import pandas as pd
import re

### Exercise 1)
Write a function named `is_vowel`. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
#trying out creating string inputs for finding only vowels.
my_string = 'potatoe'
#only accepts vowels:
regexp = r'[aeiou]'
#findall and return only vowel using regexp conditions and my_string input
re.findall (regexp, my_string)

['o', 'a', 'o', 'e']

In [3]:
def is_vowel(my_string):
    regexp = r'[aeiou]'
    #to return a true/false statement, have the length of regexp see if greater than 0
    return len(re.findall(regexp, my_string)) > 0

In [4]:
is_vowel('potatoe'), is_vowel('rubber duck'), is_vowel('a'), is_vowel('d')

(True, True, True, False)

#### Another way:
Some of these questions can be interpreted differently. Here is the function that only accepts one letter and returns true/false if vowel or not.

note: putting an r in front of the string syntax is telling python that this string is a raw string.

In [51]:
vowel_re =r"^[aeiouAEIOU]$"

print(bool(re.search(vowel_re, 'a')))
print(bool(re.search(vowel_re, 'b')))
print(bool(re.search(vowel_re, 'T')))
print(bool(re.search(vowel_re, 'E')))

True
False
False
True

In [52]:
def is_a_vowel(string):
    vowel_re =r"^[aeiouAEIOU]$"
    
    return bool(re.search(vowel_re, string))

In [53]:
is_a_vowel('A')

True

In [54]:
is_a_vowel('d')

False

_________________________________

### Exercise 2)
Write a function named is_valid_username that accepts a string as input.
<br>A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. <br>It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
False
> is_valid_username('codeup')
True
> is_valid_username('Codeup')
False
> is_valid_username('codeup123')
True
> is_valid_username('1codeup')
False

In [5]:
#first, finding match if letter is lower case
username = 'cDeiHt'
#assing regex to start with and match the first lower case letter it comes to
regexp = r'^[a-z]'

re.search(regexp, username)

In [6]:
#now, seeing if this assigned regex can match lower case (but adding in upper to check) to longer names
#with symbols:
username = 'Totoro_Catbus141'
#regex assigned = ^starting at[any letters]+[any letters, numbers 0-9, and _ symbols],
#{range of username is 1-31}, $end
regexp = r'^[a-z]+[a-z0-9_]{1,31}$'

re.findall(regexp, username)
#### doesn't accept as there are uppercase letters here

[]

In [7]:
#trying the same above but with lowercase letters:
username = 'totoro_catbus141'
#regex assigned = ^starting at[any letters]+[any letters, numbers 0-9, and _ symbols],
#{range of username is 1-31}, $end
regexp = r'^[a-z]+[a-z0-9_]{1,31}$'

re.search(regexp, username)

In [8]:
#creating function with above:
def is_valid_username(username):
    regexp = r'^[a-z]+[a-z0-9_]{1,31}$'
    return len(re.findall(regexp, username)) > 0

In [9]:
print ("Is batman_car112 a valid username?", is_valid_username('batman_car112'))
print ("Is Codeup a valid username?", is_valid_username('Codeup'))

Is batman_car112 a valid username? True
Is Codeup a valid username? False

#### Another way of doing this:

In [59]:
#[a-z]: first character needs to be lowercase letter, then next sets of letters
#can be alphanumeric, including _ and up to 31 characters (since first character)
#was already set and is 32...
def is_validusername(string):
    user_name= r"^[a-z][a-z0-9_]{,31}$"

    return bool(re.search(user_name, string))

assert is_validusername('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa') == False
assert is_validusername('codeup') == True
assert is_validusername('Codeup') == False

note: when using assert, if you run and nothing returns, you're good!

_______________________________________

### Exercise 3)
Write a regular expression to capture phone numbers. It should match all of the following:

(210) 867 5309<br>
+1 210.867.5309<br>
867-5309<br>
210-867-5309<br>

In [10]:
phone_number = '210-867-5309'
#assigning regex to accept 0-9, ()+- symbols, and + all after 0 range:
regexp = r'[0-9()+-. ]+'
re.match(regexp, phone_number)

In [11]:
phone_number2 = '+1 210.867.5309'
re.match(regexp, phone_number2)

In [12]:
phone_number3 = '867-5309'
re.match(regexp, phone_number3)

In [13]:
phone_number4 = '210-867-5309'
re.match(regexp, phone_number4)

#### Another way of doing this:

In [62]:
def is_phone_number(string):
    #note that the two first groups were made as these sections are optional, whereas the last 7 digits of a phone
    #number are not optional:
    phone_number_re = r"(\+?\d+)?.?(\(?\d{3}\)?)?.?\d{3}.?\d{4}"
    
    return bool(re.search(phone_number_re, string))

assert is_phone_number('210-867-5309')== True
assert is_phone_number('+1 210.867.5309')== True
assert is_phone_number('867-5309')== True
assert is_phone_number('210-867-5309')== True

________________________________________________

### Exercise 4)
Use regular expressions to convert the dates below to the standardized year-month-day format.
02/04/19<br>
02/05/19<br>
02/06/19<br>
02/07/19<br>
02/08/19<br>
02/09/19<br>
02/10/19

In [14]:
#creating a dataseries of all dates:
dates = pd.Series(['02/04/19','02/05/19','02/06/19','02/07/19','02/08/19','02/09/19','02/10/19'])
dates

0    02/04/19
1    02/05/19
2    02/06/19
3    02/07/19
4    02/08/19
5    02/09/19
6    02/10/19
dtype: object

In [15]:
#taking dates series: using str.replace to replace / with -:
                    #\d:any digit +:0-on,/:divider, 
                            #replaces to:20\3rd divider here, then -, \1st divider,
                                #-, \2nd divider
        
dates.str.replace(r'(\d+)/(\d+)/(\d+)', r'20\3-\1-\2', regex=True)

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

#### Another way of doing this:

In [64]:
date_list =['02/05/19',
'02/06/19',
'02/07/19',
'02/08/19',
'02/09/19',
'02/10/19']

date_list

['02/05/19', '02/06/19', '02/07/19', '02/08/19', '02/09/19', '02/10/19']

In [71]:
dates=pd.Series(date_list)

In [73]:
dates

0    02/05/19
1    02/06/19
2    02/07/19
3    02/08/19
4    02/09/19
5    02/10/19
dtype: object

In [75]:
dates.str.replace(r'(\d{2})/(\d{2})/(\d{2})', r'20\3-\1-\2', regex = True)

0    2019-02-05
1    2019-02-06
2    2019-02-07
3    2019-02-08
4    2019-02-09
5    2019-02-10
dtype: object

________________________________________________________________

### Exercise 5)
Write a regex to extract the various parts of these logfile lines:
<br><br>GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] 
HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58<br><br>
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58<br><br>
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [78]:
log_file = r'''
^(?P<method>GET|POST)
\s+
(?P<path>.*?)
\s+
\[(?P<timestamp>.*?)\]
\s+
(?P<http_version>.*?)
\s+
\{(?P<status>\d+)\}
\s+
(?P<bytes_sent>\d+)
\s+
"(?P<user_agent>.*)"
\s
(?P<ip>.*)$
'''

In [79]:
lines = pd.Series(['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
                                'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
                                'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'
                               ])

In [81]:
lines

0    GET /api/v1/sales?page=86 [16/Apr/2019:193452+...
1    POST /users_accounts/file-upload [16/Apr/2019:...
2    GET /api/v1/items?page=3 [16/Apr/2019:193453+0...
dtype: object

In [83]:
#create a column called log for the logfile lines in the df:
df=lines.str.extract(log_file, re.VERBOSE)

In [87]:
df

,method,path,timestamp,http_version,status,bytes_sent,user_agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58

In [86]:
df.dtypes

method          object
path            object
timestamp       object
http_version    object
status          object
bytes_sent      object
user_agent      object
ip              object
dtype: object

#### Another way:

In [34]:
#another way: using .groups() you can then later call these by name:
match = re.search('(?P<method>[^ ]*) (?P<path>[^ ]*) \[(?P<date_time>[^ ]*)\] (?P<version>[^ ]*) (?P<number>[^ ]*) (?P<querynum>[^ ]*) (?P<language_request>[^ ]*) (?P<ip>[^ ]*)', text)
match.groups()

('GET',
 '/api/v1/sales?page=86',
 '16/Apr/2019:193452+0000',
 'HTTP/1.1',
 '{200}',
 '510348',
 '"python-requests/2.21.0"',
 '97.105.19.58')